body {
    background-color: wheat;
    margin: 0;
    box-sizing: border-box;
}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    box-shadow: 0 0 0 10px white, 0 0 0 20px black;
    border-radius: 6px;
}
